@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Noto+Serif&family=Roboto&display=swap');

*{
    margin: 0 auto;
    padding: 0 auto;

}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 6px -6px #000000;
  }
  
ul.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
  
    font-family: "Inter", sans-serif, Arial;
}
  
nav img {
    width: 4rem;
  }

.nav-button{
    border:none;
    background-color: white;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    align-items: baseline;
    padding: 0.8rem;
    cursor: pointer;
}

.nav-button:hover{
    background-color: #b4cde2;
    padding: 1.3rem;
}

.home-icon{
    font-size: 1.1rem;
}

.azul{
    color:#4682B4;
}
/*Home*/
/*Pitch*/

section#home{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 38rem;
    align-items: center;
}

#pitch{
    width: 50%;
}

#pitch-img{
    padding-top: 1rem;
    width: 40rem;
}

#iframe-pitch{
    position: absolute;
    top: 19.4%;
    left: 4.2%;
}

/* Abertura de impacto */

#abertura-de-impacto{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    align-self: center;
    justify-content: center;
    gap:2rem;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;
    text-align: justify;
}

/* Footer */

.footer{
    background-color: black;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 2rem;
    font-size: 0.9rem;
    padding-top: 2.5rem;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;
}

.white-font{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Problema e Solução */

#problema-e-solucao{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#problema-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38rem;
    background-color: lightgray;
}

#img-problema-1{
    width: 50%;
}
#ambulance-img{
    width: 90%;
}

#texto-problema-1{
    width: 40%;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;
    gap: 2rem;
    text-align: justify;

}

#problema-2{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#texto-problema-2{
    width: 40%;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;
    gap: 2rem;
    text-align: center;
    text-align: justify;

}

#img-problema-2{
    width: 50%;
}

#solucao{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
    width: 100%;

}

#img-solucao{
    width: 50%;
}

#solucao-img{
    width: 90%;
}

#texto-solucao{
    width: 40%;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;
    gap: 2rem;
    text-align: center;
    text-align: justify;
}

/*Contato*/

/* Parte 1 */

#contato-parte-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 38rem;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;

}

#form-contato{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contato-box{
    width:16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

#btn-form-contato{
    background-color: #4682B4;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;
    border:none;
    padding: 0.3rem;
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/*Parte 2*/

#contato-parte-2{
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: lightgray;
}

.desenvolvedores-img{
    background-color: blueviolet;
    border-radius: 100rem;
    width: 10rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#caio-freitas{
    background-image: url("./img/caio-img.jpeg");
}

#lana-andrade{
    background-image: url("./img/lana-img.jpeg");
}

#devs-table{
    border-spacing: 8rem 0;
}

.tr-devs{
    text-align: center;
}

/* Demonstração da solução */

#demonstracao-da-solucao{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 2rem;
    gap: 2rem;
    padding-bottom: 2rem;
}

.pergunta-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 20rem;
    border: solid;
    border-color: #4682B4;
    border-radius: 0.7rem;
    border-width: .1rem;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;
}

.repostas-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    box-sizing: border-box;
    gap: 1rem;
}

.btn-respostas{
    width: 9.5rem;
    border: solid;
    border-color: #4682B4;
    border-radius: 0.7rem;
    border-width: .1rem;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;
    height: 2rem;
    background-color: white;
    cursor: pointer;
}

.btn-respostas:hover{
    background-color: #4682B4;
    color: white;
}

.tutorial-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    border: solid;
    border-color: #4682B4;
    border-radius: 0.7rem;
    border-width: .1rem;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;

}

.tutorial-img{
    width: 19.5rem;
    padding-top: 0.25rem;
}

.tutorial-p{
    width: 19rem;
    text-align: justify;
}

#respiracao{
    display: none;
}

.titulo-tutorial{
    width: 20rem;
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: justify;
    font-weight: 500;
}

.tutorial-box-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#tutorial-cpr, #respiracao, #tutorial-consciente, #tutorial-inconsciente, #respiracao-nao, #respiracao-sim, #batimentos{
    display: none;
}

#tutorial-respiracao-sim, #tutorial-respiracao-nao, #tt-batimentos-nao, #tt-batimentos-sim, #sangramento{
    display: none;
}